body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    background-color:#1C1C1E;
    display: flex;
    align-items: center;
}


/* Respnsivness stuffy donw here*/

/* Phone */

@media screen and (max-width: 480px){
    .wrapper{
        flex-flow: column;
    }

}