.picture-wrap, picture{
    flex: 1;
    display: flex;
    justify-content: center;
}

.img{
    height: auto;
    width: 50%;
    border-radius: 25%;
}



/* Respnsivness stuffy donw here*/

/* Tablet */

@media screen and (max-width: 768px){



}

/* Phone */

@media screen and (max-width: 480px){
    .img{
        padding-top: 5%;
    }

}


